@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

 *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --bg: #F6FAF8; */
  --surface: #FFFFFF;
  --accent: #6FB29A;
  --accent-light: #C8E4D9;
  --text-primary: #2D3A35;
  --text-secondary: #6B7A74;
  --border: #DCEAE3;
  --font: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  background-color: #F6FAF8;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: var(--font);
}
